@{
    ViewData["Title"] = "Administrator Panel";
}

<h2>Welcome to the administrator Panel</h2>
<h5>Please select an option to start editing the store.</h5>

<a asp-controller="Admin" asp-action="EditProducts" class="btn btn-secondary">Edit Products</a> |
<a asp-controller="Admin" asp-action="EditUsers" class="btn btn-secondary">Edit Users</a> 

