@model IEnumerable<PersonalStoreApplication.Models.Address>
<div class="list-group box-shadow">
    @foreach (var item in Model)
        {
            <button type="button" class="list-group-item list-group-item-action">@item.AddressLineOne</button>
        }
</div>
