@model IEnumerable<PersonalStoreApplication.Models.CartItemDTO>

@{
    ViewData["Title"] = "Shopping Cart";
}

<h1>Your Cart</h1>

<div>
   <partial name="_cartList" model="@Model" />
</div>

<p>
    <a asp-controller="Checkout" asp-action="Index" class="btn btn-secondary">Checkout</a>
</p>
