@model PersonalStoreApplication.Models.User

@{
    ViewData["Title"] = "Login Page";
    string warningType = ViewBag.Attempts < (ViewBag.MaxAttempts * 0.6) ? "" : ((ViewBag.Attempts < (ViewBag.MaxAttempts * 0.8)) ? "text-warning" : "text-danger");
}

<div class="container py-2 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
            <div class="card shadow-lg" style="border-radius: 1rem;">
                <div class="card-body p-5 text-center">

                    <h1 class="my-3">Login</h1>

                    <hr />
                    <form asp-action="ProcessLogin">

                        <div asp-validation-summary="ModelOnly" class="@warningType"></div>

                        <span asp-validation-for="Email" class="text-danger"></span>
                        <div class="form-outline mb-4">
                            <label asp-for="Email" class="form-label"></label>
                            <input asp-for="Email" type="email" class="form-control form-control-lg" />
                        </div>

                        <span asp-validation-for="Password" class="text-danger"></span>
                        <div class="form-outline mb-4">
                            <label asp-for="Password" class="form-label"></label>
                            <input asp-for="Password" type="password" class="form-control form-control-lg" />
                        </div>

                        <p>Not a Member? Register <a asp-controller="Registration" asp-action="Index">Here!</a></p>
                        <input type="submit" value="Login" class="btn-lg btn-block btn-primary" />
  
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>