@{
    ViewData["Title"] = "About this Project";
}
<h1>@ViewData["Title"]</h1>

<p>This project was created for GCU CST-451 and CST-452 by Marc Teixeira.</p>
<p>The items in this store are fictional and attempts to purchase them are not actually processed.</p>
<br/>
<hr/>
<p><a href="https://github.com/MTeixeiraGCU/PersonalStoreApplication">Here</a> is the GitHub Link for the application code and design.</p>
<p>It was built in C# ASP.NET using the MVC pattern. The database and query language used is MySQL.</p>
<p>The front-end design employs Razor Views and uses HTML, Bootstrap 4 CSS, and JavaScript/JQuery.</p>

