@{
    ViewData["Title"] = "About this Project";
}
<h1>@ViewData["Title"]</h1>

<p>This project was created for GCU CST-451 by Marc Teixeira.</p>
<p>The items in this store are fictional and attempts to purchase them are not actual processed.</p>
