@model IEnumerable<PersonalStoreApplication.Models.Product>

@{
    ViewData["Title"] = "Home Page";
    var counter = 0;
}

<div class="text-center">
    <div class="row">
        <img src="/img/logo.jpg" class="col-sm-4 img-responsive" alt="Banner Logo">
        <h1 class="display-4">@ViewBag.Message</h1>
    </div>
</div>

<div class="container mt-3">

    <!-- Each type of clothing should get its own carousel -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">

        <div class="carousel-inner">

            <div class="carousel-item active">
                <div class="card-group">

                    @foreach (var item in Model) //Loop here for each product of this type
                    {
                        //Every three cards need a new group
                        @if (counter % 3 == 0 && counter != 0)
                        {
                                @:</div>
                            @:</div>
                            @:<div class="carousel-item">
                                @:<div class="card-group">
                        }

                        <partial name="_productCard" model="item" />

                        //Increment the counter to keep groups of three
                        counter++;
                    }
                    @while(counter % 3 != 0) // check for uneven carousel cards at the end of the list.
                    {
                        @:<div class="card"></div>
                        counter++;
                    }
                </div>
            </div>

        </div>

        <!-- Left and right controls -->
        <!-- Left and right controls -->
        <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true" style="left: 0; position: absolute;"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true" style="right: 0; position: absolute;"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>
