@model PersonalStoreApplication.Models.CheckoutModel

@{
    ViewData["Title"] = "Checkout";
}

<h1>Checkout</h1>

<div class="d-flex p-2">
    <div class="flex-fill m-1 p-2 border border-dark rounded">
        <h5>Cart Items</h5>
        <partial name="_cartList" model="Model.CartList" />
    </div>
    <div class="flex-fill m-1 p-2 border border-dark rounded">
        
        <div class="d-flex flex-column">
            <div class="p-2 pb-1">
                <h5>Shipping Address</h5>
                <partial name="_addresses" model="Model.Addresses" />
            </div>
            <div class="p-2 pt-1">
                <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#newAddress">New Address</button>
            </div>
            <div class="p-2">
                <label asp-for="@Model.Payment"></label>
                <select asp-for="@Model.Payment" asp-items="Html.GetEnumSelectList<PaymentType>()"></select>
            </div>
        </div>
    </div>
</div>
<div>
    <a class="btn btn-primary disabled">Process Checkout</a>
</div>

<div class="modal" id="newAddress" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">New Address</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="newAddressForm" asp-controller="Checkout" asp-action="AddAddress">
                    <div class="form-group row">
                        <label class="control-label col-sm-2">Address Line One: </label>
                        <div class="col-sm-8">
                            <input type="text" name="AddressLineOne" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="control-label col-sm-2">Address Line Two: </label>
                        <div class="col-sm-8">
                            <input type="text" name="AddressLineTwo" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="control-label col-sm-2">City: </label>
                        <div class="col-sm-8">
                            <input type="text" name="City" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="control-label col-sm-2">State: </label>
                        <div class="col-sm-8">
                            <input type="text" name="State" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="control-label col-sm-2">Postal Code: </label>
                        <div class="col-sm-8">
                            <input type="text" name="Zip" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="control-label col-sm-2">Phone Number: </label>
                        <div class="col-sm-8">
                            <input type="text" name="PhoneNumber" class="form-control" />
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" form="newAddressForm" class="btn btn-primary">Add Address</button>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="paymentOptions" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Credit Card Information</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                </form>
                <p>Modal body text goes here.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Add Address</button>
            </div>
        </div>
    </div>
</div>
