@model PersonalStoreApplication.Models.CheckoutModel

@{
    ViewData["Title"] = "Checkout";
}

<h1>Checkout</h1>

<div class="d-flex p-2">
    <div class="flex-fill m-1 p-2 border border-dark rounded">
        <h5>Cart Items</h5>
        <partial name="_cartList" model="Model.CartList" />
    </div>
    <div class="flex-fill m-1 p-2 border border-dark rounded">
        <h5>Shipping Address</h5>
        <partial name="_addresses" model="Model.Addresses" />
        <button>New Address</button>
        <select asp-for="@Model.Payment" asp-items="Html.GetEnumSelectList<PaymentType>()"/>
    </div>
</div>
