@model PersonalStoreApplication.Models.User

@{
    ViewData["Title"] = "Registration";
}
<div class="container py-2 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
            <div class="card shadow-lg" style="border-radius: 1rem;">
                <div class="card-body p-5 text-center">

                    <h1 class="my-3">User Registration</h1>
                    <hr />

                    <form asp-action="ProcessRegistration">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                        <!-- Form Fields for a User -->
                        <span asp-validation-for="FirstName" class="text-danger"></span>
                        <div class="form-outline mb-1">
                            <label asp-for="FirstName" class="form-label"></label>
                            <input asp-for="FirstName" class="form-control form-control-lg" />
                        </div>

                        <span asp-validation-for="LastName" class="text-danger"></span>
                        <div class="form-outline mb-1">
                            <label asp-for="LastName" class="form-label"></label>
                            <input asp-for="LastName" class="form-control form-control-lg" />
                        </div>

                        <span asp-validation-for="Email" class="text-danger"></span>
                        <div class="form-outline mb-1">
                            <label asp-for="Email" class="form-label"></label>
                            <input asp-for="Email" type="email" class="form-control form-control-lg" />
                        </div>

                        <span asp-validation-for="Password" class="text-danger"></span>
                        <div class="form-outline mb-1">
                            <label asp-for="Password" class="form-label"></label>
                            <input asp-for="Password" type="password" class="form-control form-control-lg" onkeyup="verifyPasswordMatch()" />
                        </div>

                        <span id="RenterPasswordErrors"></span>
                        <div class="form-outline mb-3">
                            <label for="RenterPassword" class="form-label">Re-Enter Password:</label>
                            <input id="RenterPassword" type="password" class="form-control form-control-lg" onkeyup="verifyPasswordMatch()" />
                        </div>

                        <!-- submit button -->
                        <input id="RegisterButton" type="submit" value="Register" class="btn-primary btn-lg" />

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
    function verifyPasswordMatch() {
        if (document.getElementById("Password").value == document.getElementById("RenterPassword").value)
        {
            document.getElementById('RenterPasswordErrors').classList.remove('text-danger')
            document.getElementById('RenterPasswordErrors').classList.add('text-success')
            document.getElementById('RenterPasswordErrors').innerHTML = 'Matching';
            document.getElementById('RegisterButton').disabled = false;
        }
        else
        {
            document.getElementById('RenterPasswordErrors').classList.remove('text-success')
            document.getElementById('RenterPasswordErrors').classList.add('text-danger')
            document.getElementById('RenterPasswordErrors').innerHTML = 'Does Not Match';
            document.getElementById('RegisterButton').disabled = true;
        }
    }
</script>

@section Scripts {
                    @{
                        await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
                    }
